<div class="main" ng-controller="HomeController as mainCtrl">
  <h1>All the artices</h1>
  <div class="controls" >
    <div class="" ng-click="mainCtrl.increase()">
      INCREASE
    </div>
    <div class="" ng-click="mainCtrl.decrease()">
      DECREASE
    </div>
    <div style="position: relative; ">showMe:{{showMe}}</div>
  </div>
  <div class="articles">
    <a class="article articles_{{$index}}" ng-repeat="data in datas"><!-- ng-show="$index == mainCtrl.showMe" -->
      <div class="title">
        {{ data.title }}
      </div>
      <img src="{{data.field_image}}" alt=""/>
    </a>
    <hr>
  </div>
</div>
